#MH_EXT__as_app {
  position: fixed;
  bottom: 5px;
  right: 5px;
  z-index: 1000;
  padding: 20px;
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

#MH_EXT__as_input {
  display: flex;
  gap: 15px;
}

#MH_EXT__as_input input.error {
  border-bottom: 2px solid red;
}
